@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
.hero {
  height: 800px;
  background-image: url("../img/places/bg-img.jpg");
  background-position: center;
  background-size: cover;
}
.hero-content {
  color: #fff;
  width: 900px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  top: 200px;
  text-transform: uppercase;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.hero-content > h1 {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
.hero-content > p {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}
.hero-content > a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  padding: 12px 24px;
  background-color: rgb(255, 251, 0);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.hero-content > a:hover {
  color: #483f3f;
}
.highlights {
  padding: 24px;
  text-align: center;
  background: linear-gradient(0deg, rgb(227, 255, 253), rgb(202, 243, 240));
}
#highlights-h2 {
  color: rgb(59, 65, 64);
  font-size: 40px;
  text-transform: uppercase;
  margin: 24px 0;
}
#destinations {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
}
.destination {
  margin: 0 20px;
  list-style: none;
  text-transform: uppercase;
}
.destination img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.destination img:hover {
  transition: 0.45s;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  -webkit-transition: 0.45s;
  -moz-transition: 0.45s;
  -ms-transition: 0.45s;
  -o-transition: 0.45s;
}
.destination > p {
  font-size: 24px;
  color: rgb(124, 123, 123);
}
.destination > p > strong {
  color: rgb(0, 160, 170);
}
