body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: rgb(44, 41, 38);
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
#main-header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  background-color: rgb(29, 26, 24);
}
#logo {
  color: rgb(238, 167, 80);
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.menu-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}
.menu-btn span {
  width: 100%;
  height: 3px;
  background-color: #fff;
}
#main-header > nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#main-header > nav > ul > li {
  margin: 0 1rem;
}
#main-header > nav > ul > li > a {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgb(238, 167, 80);
}
#main-header > nav > ul > li > a:hover {
  color: #000;
  padding: 12px 24px;
  background-color: rgb(238, 167, 80);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#side-drawer {
  width: 100%;
  height: 100%;
  background-color: rgb(29, 26, 27);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
#side-drawer:target {
  display: block;
}
#side-drawer header {
  height: 5rem;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(29, 26, 24);
}
#side-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 4rem;
}
#side-drawer li {
  margin: 1rem 0;
}
#side-drawer a {
  color: rgb(253, 239, 213);
  font-size: 3rem;
}
main h1 {
  text-align: center;
  font-size: 3rem;
  color: rgb(238, 167, 80);
}
#latest-products {
  width: 80%;
  margin: 2rem auto;
}
#latest-products ul {
  display: grid;
  gap: 1rem;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}
.food-items {
  background-color: rgb(228, 226, 182);
  overflow: hidden;
  list-style: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.food-items img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}
.food-item-content {
  padding: 1rem;
  text-align: center;
  font-size: 24px;
}
.food-items h2 {
  margin: 0 0 1rem 0;
}
.btn {
  color: #fff;
  padding: 0.5rem 1.5rem;
  background-color: rgb(228, 157, 44);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.btn:hover {
  color: #000;
  font-weight: bold;
  background-color: rgb(221, 134, 34);
  box-shadow: 2px 4px 8px rgb(144, 144, 144);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
footer {
  background: linear-gradient(70deg, rgb(24, 24, 24), rgb(25, 29, 29));
  padding: 20px;
}
footer > ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
footer > ul > li {
  width: 80px;
  height: 80px;
  margin: 0 50px;
}
footer > ul > li > a > img {
  width: 100%;
  height: 100%;
}

@media (max-width: 48rem) {
  #main-header > nav {
    display: none;
  }
  .menu-btn {
    display: flex;
  }
  main h1 {
    font-size: 1.5rem;
  }
  #latest-products ul {
    grid-template-columns: 100%;
  }
}
